<?xml version="1.0"?>
<!--
/**
 * @author Bartosz Kubicki
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- API section -->
    <preference for="BKubicki\MessageQueue\Api\Queue\Consumer\EnvelopeCallbackFactoryInterface"
                type="BKubicki\MessageQueue\Queue\Consumer\EnvelopeCallbackFactory"/>
    <preference for="BKubicki\MessageQueue\Api\Envelope\RetryLimitOverflowResolverInterface"
                type="BKubicki\MessageQueue\Envelope\RetryLimitOverflowResolver"/>
    <!-- API section -->
</config>
