<?xml version="1.0"?>
<!--
/**
 * @author Bartosz Kubicki
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- API section -->
    <preference for="BartoszKubicki\MessageQueue\Api\Queue\Consumer\EnvelopeCallbackFactoryInterface"
                type="BartoszKubicki\MessageQueue\Queue\Consumer\EnvelopeCallbackFactory"/>
    <preference for="BartoszKubicki\MessageQueue\Api\Envelope\RetryLimitOverflowResolverInterface"
                type="BartoszKubicki\MessageQueue\Envelope\RetryLimitOverflowResolver"/>
    <!-- API section -->

    <!-- Console command section -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="lm:queue:consumers:poison" xsi:type="object">BartoszKubicki\MessageQueue\Console\Command\PutPoisonPillCommand</item>
            </argument>
        </arguments>
    </type>
    <!-- End of console command section -->
</config>
